<div>
  <%= link_to 'Google Login', '/auth/google_oauth2' %>
</div>
<div>
  <%= link_to 'Task 1: Send Email', mail_pages_path %>
</div>
<div>
  <%= link_to 'Task 2: Question Example', problem_path('problem10') %>
</div>
<div>
  <%= link_to 'Task 3: Question Filter', filter_questions_path %>
</div>
